Repository usnistgov/macos_security, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/rules, area/baseline, area/images, area/misc, area/sections, area/templates, area/github, area/mscp_api

style: :rotating_light: Lint files
  .github/labels.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
Labels: area/github

feat: :sparkles: Update GitHub Actions workflows for improved triggers and add Renovate configuration
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat: :sparkles: Add error logging for file processing in open_plist function
  src/mscp/common_utils/file_handling.py
Labels: area/mscp_api

feat: :sparkles: Enhance Renovate workflow with GitHub App token generation and updated checkout action
  .github/workflows/renovate.yaml
Labels: area/github

fix: :bug: Update image path in README to reflect new directory structure
  README.adoc
Labels: none

refactor: :recycle: Update file paths and enhance configuration for OS versioning in YAML and JSON schemas
  .gitignore
  config/default/sections/passwordpolicy.yaml
  config/default/templates/asciidoctor/additional_docs.adoc.jinja
  config/default/templates/asciidoctor/rule.adoc.jinja
  config/default/templates/shell_scripts/check.jinja
  config/includes/version.yaml
  mscp.py
  schemas/rules.json
  schemas/rules_v2.json
  schemas/rules_v2.yaml
  src/mscp/classes/baseline.py
  src/mscp/classes/macsecurityrule_v2.py
  src/mscp/common_utils/run_command.py
  src/mscp/common_utils/sanitize_input.py
  src/mscp/common_utils/version_data.py
  src/mscp/generate/guidance.py
  src/mscp/generate/guidance_support/documents.py
Labels: area/sections, area/templates, area/mscp_api

refactor[rules]STIG ID Removed
  rules/pwpolicy/pwpolicy_history_enforce.yaml
Labels: none

refactor[rules] Added STIG ID
  rules/os/os_iphone_mirroring_disable.yaml
Labels: none

refactor[rule] Added STIG ID, SFR, CCI
  rules/os/os_iphone_mirroring_disable.yaml
Labels: none

feat: :sparkles: Add markdown documentation templates and support for markdown output generation (#4)
  CHANGELOG.adoc
  config/default/templates/asciidoctor/macros.jinja
  config/default/templates/asciidoctor/rule.adoc.jinja
  config/default/templates/markdown/acronyms.md.jinja
  config/default/templates/markdown/additional_docs.md.jinja
  config/default/templates/markdown/authors.md.jinja
  config/default/templates/markdown/foreword.md.jinja
  config/default/templates/markdown/header.md.jinja
  config/default/templates/markdown/main.md.jinja
  config/default/templates/markdown/rule.md.jinja
  config/default/templates/markdown/scope.md.jinja
  config/default/templates/markdown/section.md.jinja
  config/includes/version.yaml
  src/mscp/classes/macsecurityrule.py
  src/mscp/cli.py
  src/mscp/generate/guidance.py
  src/mscp/generate/guidance_support/__init__.py
  src/mscp/generate/guidance_support/documents.py
Labels: area/templates, area/mscp_api

chore: Archive baseline folder
  archive/baselines/800-171.yaml
  archive/baselines/800-53r5_high.yaml
  archive/baselines/800-53r5_high_test.yaml
  archive/baselines/800-53r5_low.yaml
  archive/baselines/800-53r5_moderate.yaml
  archive/baselines/DISA-STIG.yaml
  archive/baselines/all_rules.yaml
  archive/baselines/cis_lvl1.yaml
  archive/baselines/cis_lvl2.yaml
  archive/baselines/cisv8.yaml
  archive/baselines/cmmc_lvl1.yaml
  archive/baselines/cmmc_lvl2.yaml
  archive/baselines/cnssi-1253_high.yaml
  archive/baselines/cnssi-1253_low.yaml
  archive/baselines/cnssi-1253_moderate.yaml
Labels: none

fixing some consistent numbering in NIST 800-171r3
  rules/os/os_parental_controls_enable.yaml
  rules/os/os_separate_functionality.yaml
  rules/os/os_time_server_enabled.yaml
  rules/system_settings/system_settings_software_update_enforce.yaml
  rules/system_settings/system_settings_time_server_configure.yaml
  rules/system_settings/system_settings_time_server_enforce.yaml
Labels: none

update gitignore to include virtual env
  .gitignore
Labels: none

fix: :bug: Remove trailing newlines in YAML section descriptions and update type hints in baseline.py
  config/default/sections/auditing.yaml
  config/default/sections/authentication.yaml
  config/default/sections/icloud.yaml
  config/default/sections/inherent.yaml
  config/default/sections/not_applicable.yaml
  config/default/sections/passwordpolicy.yaml
  config/default/sections/permanent.yaml
  config/default/sections/srg.yaml
  config/default/sections/supplemental.yaml
  config/default/sections/systemsettings.yaml
  schemas/rules_v2.json
  schemas/rules_v2.yaml
  src/mscp/classes/baseline.py
  src/mscp/classes/macsecurityrule.py
  src/mscp/classes/macsecurityrule_v2.py
  src/mscp/common_utils/file_handling.py
Labels: area/sections, area/mscp_api

fix: :bug: Correct YAML formatting by removing leading spaces in section names and descriptions
  config/default/sections/auditing.yaml
  config/default/sections/authentication.yaml
  config/default/sections/icloud.yaml
  config/default/sections/inherent.yaml
  config/default/sections/not_applicable.yaml
  config/default/sections/operatingsystem.yaml
  config/default/sections/passwordpolicy.yaml
  config/default/sections/permanent.yaml
  config/default/sections/srg.yaml
  config/default/sections/supplemental.yaml
  config/default/sections/systemsettings.yaml
Labels: area/sections

refactor: :recycle: Improve code readability by formatting line breaks in YAML section data loading
  src/mscp/classes/baseline.py
Labels: area/mscp_api

removed cis references from os_iphone_mirroring_disable
  baselines/cis_lvl1.yaml
  baselines/cis_lvl2.yaml
  rules/os/os_iphone_mirroring_disable.yaml
Labels: none

fix: :bug: Update Jinja templates to ensure proper escaping and trimming of rule check commands
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  CONTRIBUTING.adoc
  README.md
  config/default/rules/macos/15/os/os_install_log_retention_configure.yaml
  config/default/templates/asciidoctor/rule.adoc.jinja
  config/default/templates/markdown/rule.md.jinja
  config/default/templates/shell_scripts/check.jinja
  pyproject.toml
  src/mscp/generate/guidance_support/documents.py
Labels: area/rules, area/templates, area/github, area/mscp_api

Added _work to gitignore
  .gitignore
Labels: none

feat[scripts] Added scripts
  scripts/2.0-merge.py
  scripts/utility_collect_branch_rules.sh
Labels: none

Updated dev_2.0 readme
  README.adoc
Labels: none

refactor[scripts] Move scripts to legacy
  legacy/scripts/KNOWN_ISSUES
  legacy/scripts/generate_baseline.py
  legacy/scripts/generate_guidance.py
  legacy/scripts/generate_mapping.py
  legacy/scripts/generate_scap.py
  legacy/scripts/util/README
  legacy/scripts/util/generate_checklist.py
  legacy/scripts/util/mscp_local_report.py
  scripts/2.0-merge.py
Labels: none

Removed 14.0 button
  README.adoc
Labels: none

Add refernces to related BSI docs
  baselines/indigo_base.yaml
  baselines/indigo_high.yaml
Labels: none

Fix: Adjust the enforced software update delay setting
  rules/os/os_update_enforced_software_update_delay.yaml
Labels: none

Add: Include missing os_airprint_disable in indigo_high baseline
  baselines/indigo_high.yaml
Labels: none

Fix: align parent values with indigo SecOps standards
  baselines/indigo_base.yaml
  baselines/indigo_high.yaml
Labels: none

Add minor corrections and latest BSI doc references in indigo YAML files. (#472)
  baselines/indigo_base.yaml
  baselines/indigo_high.yaml
  rules/os/os_update_enforced_software_update_delay.yaml
Labels: none

fix[rule]: corrected regex for !log_allowed in sed
  rules/os/os_sudo_log_enforce.yaml
Labels: none

Eerste experiment baseline aanmaken
  baselines/nlmapgov_base.yaml
  includes/mscp-data.yaml
  rules/os/os_anti_virus_installed.yaml
  rules/os/os_config_data_install_enforce.yaml
  rules/os/os_gatekeeper_enable.yaml
  rules/os/os_mdm_require.yaml
  rules/os/os_safari_open_safe_downloads_disable.yaml
  rules/os/os_secure_enclave.yaml
  rules/os/os_sip_enable.yaml
  rules/os/os_time_server_enabled.yaml
  rules/system_settings/system_settings_filevault_enforce.yaml
  rules/system_settings/system_settings_loginwindow_loginwindowtext_enable.yaml
  rules/system_settings/system_settings_software_update_app_update_enforce.yaml
  rules/system_settings/system_settings_software_update_download_enforce.yaml
  rules/system_settings/system_settings_software_update_enforce.yaml
  rules/system_settings/system_settings_softwareupdate_current.yaml
  rules/system_settings/system_settings_time_server_configure.yaml
  rules/system_settings/system_settings_time_server_enforce.yaml
Labels: none

refactor[rules] Added Apple Intelligence Rules
  rules/os/os_mail_smart_reply_disable.yaml
  rules/os/os_notes_transcription_disable.yaml
  rules/os/os_notes_transcription_summary_disable.yaml
  rules/os/os_safari_reader_summary_disable.yaml
Labels: none

refactor[baselines] Updated baseline files
  baselines/800-171.yaml
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/all_rules.yaml
  baselines/cmmc_lvl1.yaml
  baselines/cmmc_lvl2.yaml
  baselines/cnssi-1253_high.yaml
  baselines/cnssi-1253_low.yaml
  baselines/cnssi-1253_moderate.yaml
Labels: none

removed stig tag
  rules/os/os_mail_smart_reply_disable.yaml
Labels: none

refactor[rules] Added new rules
  rules/os/os_default_browser_modification_disable.yaml
  rules/os/os_default_calling_modification_disable.yaml
  rules/os/os_default_messaging_modification_disable.yaml
  rules/os/os_mail_smart_reply_disable.yaml
  rules/os/os_notes_transcription_disable.yaml
  rules/os/os_notes_transcription_summary_disable.yaml
  rules/os/os_safari_reader_summary_disable.yaml
  rules/os/os_visual_intelligence_summary.yaml
Labels: none

refactor[baselines] Updated baselines
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/all_rules.yaml
Labels: none

refactor[rule] Updated discussion
  rules/os/os_genmoji_disable.yaml
Labels: none

Added CCEs
  rules/os/os_mail_smart_reply_disable.yaml
  rules/os/os_notes_transcription_disable.yaml
  rules/os/os_notes_transcription_summary_disable.yaml
  rules/os/os_safari_reader_summary_disable.yaml
Labels: none

Added CCEs
  rules/os/os_default_browser_modification_disable.yaml
  rules/os/os_default_calling_modification_disable.yaml
  rules/os/os_default_messaging_modification_disable.yaml
  rules/os/os_mail_smart_reply_disable.yaml
  rules/os/os_notes_transcription_disable.yaml
  rules/os/os_notes_transcription_summary_disable.yaml
  rules/os/os_safari_reader_summary_disable.yaml
  rules/os/os_visual_intelligence_summary.yaml
Labels: none

refactor[rules] Added Apple Intelligence Rules
  rules/os/os_default_browser_modification_disable.yaml
  rules/os/os_external_intelligence_integration_disable.yaml
  rules/os/os_external_intelligence_integration_sign_in_disable.yaml
  rules/os/os_genmoji_disable.yaml
  rules/os/os_image_playground_disable.yaml
  rules/os/os_image_wand_disable.yaml
  rules/os/os_mail_smart_reply_disable.yaml
  rules/os/os_mail_summary_disable.yaml
  rules/os/os_safari_reader_summary_disable.yaml
  rules/os/os_writing_tools_disable.yaml
Labels: none

Updated baseline files
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/all_rules.yaml
Labels: none

.github/labeler.yaml:

---
area/rules:
  - changed-files:
      - any-glob-to-any-file: config/default/rules/**/**/*
area/baseline:
  - changed-files:
      - any-glob-to-any-file: config/default/baselines/**/**/*
area/images:
  - changed-files:
      - any-glob-to-any-file: config/default/images/**/*
area/misc:
  - changed-files:
      - any-glob-to-any-file: config/default/misc/**/*
area/sections:
  - changed-files:
      - any-glob-to-any-file: config/default/sections/**/*
area/templates:
  - changed-files:
      - any-glob-to-any-file: config/default/templates/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/mscp_api:
  - changed-files:
      - any-glob-to-any-file: src/mscp/**/*
