Repository usnistgov/macos_security, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/rules, area/baseline, area/images, area/misc, area/sections, area/templates, area/github, area/mscp_api

Moved icloud_sync_disable to icloud_drive_disable
  rules/icloud/icloud_drive_disable.yaml
Labels: none

add function to read discussions.yaml
  includes/discussions.yaml
  scripts/2.0-merge.py
Labels: none

updated icloud_drive_disable
  rules/icloud/icloud_drive_disable.yaml
Labels: none

Updated discussions.yaml
  includes/discussions.yaml
Labels: none

Update discussions.yaml
  includes/discussions.yaml
Labels: none

updates to merge process
  includes/odv.json
  schema/mscp_rule.json
  scripts/2.0-merge.py
Labels: none

schema update and rule cleanup
  schema/mscp_rule.json
  scripts/2.0-merge.py
  scripts/validate_rules.py
Labels: none

rule cleanup in merge
  scripts/2.0-merge.py
Labels: none

schema tweaking
  schema/mscp_rule.json
Labels: none

Maatregelen toegevoegd
  baselines/nlmapgov_base.yaml
  rules/pwpolicy/pwpolicy_minimum_length_enforce.yaml
  rules/pwpolicy/pwpolicy_prevent_dictionary_words.yaml
  rules/system_settings/system_settings_guest_account_disable.yaml
Labels: none

updated merge and schema for compliance object
  schema/mscp_rule.json
  scripts/2.0-merge.py
Labels: none

corrected logic for move
  scripts/2.0-merge.py
Labels: none

add workflow to merge from actions
  .github/workflows/branch_merge.yml
  schema/mscp_rule.json
  scripts/2.0-merge.py
Labels: area/github

Update branch_merge.yml
  .github/workflows/branch_merge.yml
Labels: area/github

removed workflow, updated schema
  .github/workflows/branch_merge.yml
  schema/mscp_rule.json
Labels: area/github

update assessment to 'enforcement_info'
  schema/mscp_rule.json
  scripts/2.0-merge.py
Labels: none

updated STIG release
  includes/mscp-data.yaml
Labels: none

updated baseline files
  baselines/DISA-STIG.yaml
  baselines/all_rules.yaml
Labels: none

removed unneeded srg tag
  rules/os/os_implement_cryptography.yaml
Labels: none

updated os_call_recording_disable
  rules/os/os_call_recording_disable.yaml
Labels: none

updated baseline files
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/ios_stig.yaml
Labels: none

updated baseline files
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/all_rules.yaml
  baselines/cis_lvl1_enterprise.yaml
  baselines/cis_lvl2_enterprise.yaml
  baselines/cisv8.yaml
  baselines/cnssi-1253_high.yaml
  baselines/cnssi-1253_low.yaml
  baselines/cnssi-1253_moderate.yaml
  baselines/indigo_high.yaml
  baselines/ios_stig.yaml
Labels: none

updated baseline files
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/all_rules.yaml
  baselines/cis_lvl1_enterprise.yaml
  baselines/cis_lvl2_enterprise.yaml
  baselines/cisv8.yaml
  baselines/indigo_high.yaml
  baselines/ios_stig.yaml
Labels: none

updated baseline files
  baselines/800-53r5_high.yaml
  baselines/800-53r5_low.yaml
  baselines/800-53r5_moderate.yaml
  baselines/all_rules.yaml
  baselines/cis_lvl1_enterprise.yaml
  baselines/cis_lvl2_enterprise.yaml
  baselines/cisv8.yaml
  baselines/ios_stig.yaml
Labels: none

updates to merge for severity and fix objects
  schema/mscp_rule.json
  scripts/2.0-merge.py
Labels: none

Fixed r5 to 800-53r5 in references
  rules/system_settings/system_settings_guest_access_smb_disable.yaml
Labels: none

update schema and merge for 2.0
  schema/mscp_rule.json
  scripts/2.0-merge.py
  scripts/utility_collect_branch_rules.sh
Labels: none

Updated DISA Stig reference ver1,rel3
  templates/adoc_additional_docs.adoc
Labels: none

Updated DISA Stig reference ver1,rel3
  templates/adoc_additional_docs.adoc
Labels: none

update[cis]: additional controls for v1.1.0
  baselines/cis_lvl1.yaml
  baselines/cis_lvl2.yaml
  includes/mscp-data.yaml
  rules/os/os_mail_summary_disable.yaml
  rules/os/os_notes_transcription_disable.yaml
  rules/os/os_notes_transcription_summary_disable.yaml
  rules/os/os_writing_tools_disable.yaml
  rules/system_settings/system_settings_external_intelligence_disable.yaml
  rules/system_settings/system_settings_external_intelligence_sign_in_disable.yaml
  templates/adoc_additional_docs.adoc
Labels: none

rules[refactor] Updated check/fix for nfsd
  rules/os/os_nfsd_disable.yaml
Labels: none

chore: Change production log level to warning from info
  mscp.py
Labels: none

refactor[rules] Changed CISv8 from [] to "N/A"
  rules/os/os_mail_summary_disable.yaml
  rules/os/os_notes_transcription_disable.yaml
  rules/os/os_notes_transcription_summary_disable.yaml
  rules/os/os_writing_tools_disable.yaml
Labels: none

refactor[script] replaced bad xml characters
  scripts/generate_scap.py
Labels: none

Update audit_retention_configure.yaml
  rules/audit/audit_retention_configure.yaml
Labels: none

Update nlmapgov_base.yaml
  baselines/nlmapgov_base.yaml
Labels: none

refactor[rules] CIS updates
  rules/os/os_password_hint_remove.yaml
  rules/os/os_power_nap_disable.yaml
  rules/os/os_sleep_and_display_sleep_apple_silicon_enable.yaml
  rules/pwpolicy/pwpolicy_50_percent.yaml
  rules/supplemental/supplemental_cis_manual.yaml
  rules/system_settings/system_settings_automatic_login_disable.yaml
  rules/system_settings/system_settings_guest_access_smb_disable.yaml
  rules/system_settings/system_settings_guest_account_disable.yaml
  rules/system_settings/system_settings_improve_search_disable.yaml
  rules/system_settings/system_settings_loginwindow_loginwindowtext_enable.yaml
  rules/system_settings/system_settings_loginwindow_prompt_username_password_enforce.yaml
  rules/system_settings/system_settings_password_hints_disable.yaml
  rules/system_settings/system_settings_screensaver_ask_for_password_delay_enforce.yaml
  rules/system_settings/system_settings_screensaver_timeout_enforce.yaml
  rules/system_settings/system_settings_wake_network_access_disable.yaml
Labels: none

refactor: :recycle: Move validate_yaml_file import to common_utils module for better organization
  src/mscp/cli.py
  src/mscp/common_utils/__init__.py
Labels: area/mscp_api

fix: :bug: Update shebang to use the correct virtual environment path
  mscp.py
Labels: none

chore: Add jsonschema to requirements for enhanced validation support
  requirements.txt
Labels: none

.github/labeler.yaml:

---
area/rules:
  - changed-files:
      - any-glob-to-any-file: config/default/rules/**/**/*
area/baseline:
  - changed-files:
      - any-glob-to-any-file: config/default/baselines/**/**/*
area/images:
  - changed-files:
      - any-glob-to-any-file: config/default/images/**/*
area/misc:
  - changed-files:
      - any-glob-to-any-file: config/default/misc/**/*
area/sections:
  - changed-files:
      - any-glob-to-any-file: config/default/sections/**/*
area/templates:
  - changed-files:
      - any-glob-to-any-file: config/default/templates/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/mscp_api:
  - changed-files:
      - any-glob-to-any-file: src/mscp/**/*
