Repository usnistgov/macos_security, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/rules, area/baseline, area/images, area/misc, area/sections, area/templates, area/github, area/mscp_api

.github/labeler.yaml:

---
area/rules:
  - changed-files:
      - any-glob-to-any-file: config/default/rules/**/**/*
area/baseline:
  - changed-files:
      - any-glob-to-any-file: config/default/baselines/**/**/*
area/images:
  - changed-files:
      - any-glob-to-any-file: config/default/images/**/*
area/misc:
  - changed-files:
      - any-glob-to-any-file: config/default/misc/**/*
area/sections:
  - changed-files:
      - any-glob-to-any-file: config/default/sections/**/*
area/templates:
  - changed-files:
      - any-glob-to-any-file: config/default/templates/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/mscp_api:
  - changed-files:
      - any-glob-to-any-file: src/mscp/**/*

Update dependencies to avoid static code supply chain risk
  Gemfile
Labels: none

Initial html push
  .nojekyll
  index.html
Labels: none

Updated with NIST template
  README.md
  _config.yml
  _includes/NISTPagesFooter.html
  _includes/NISTPagesHeader.html
  _layouts/default.html
  index.html
  static/css/NISTPages.css
  static/css/NISTStyle.css
  static/css/nist_logo.png
  static/css/nist_logo_mark.png
Labels: none

Switch Readme to markdown
  README.adoc
  README.md
Labels: none

Updated contributing doc to markdown
  CONTRIBUTING.md
  README.md
Labels: none

updated changelog to markdown
  CHANGELOG.adoc
  CHANGELOG.md
  README.md
Labels: none

Upgrade rexml dependency
  Gemfile
Labels: none

Improve regex code
  scripts/generate_guidance.py
Labels: none

Minor name change
  baselines/nlmapgov_base.yaml
  includes/mscp-data.yaml
Labels: none

refactor[rule] Added CIS benchmark ref
  rules/system_settings/system_settings_improve_search_disable.yaml
Labels: none

Added BIO guidance mapping
  rules/audit/audit_auditd_enabled.yaml
  rules/audit/audit_flags_ad_configure.yaml
  rules/audit/audit_retention_configure.yaml
  rules/os/os_anti_virus_installed.yaml
  rules/os/os_config_data_install_enforce.yaml
  rules/os/os_gatekeeper_enable.yaml
  rules/os/os_mdm_require.yaml
  rules/os/os_secure_enclave.yaml
  rules/os/os_sip_enable.yaml
  rules/os/os_sudo_log_enforce.yaml
  rules/os/os_time_server_enabled.yaml
  rules/pwpolicy/pwpolicy_minimum_length_enforce.yaml
  rules/pwpolicy/pwpolicy_prevent_dictionary_words.yaml
  rules/supplemental/supplemental_filevault.yaml
  rules/system_settings/system_settings_filevault_enforce.yaml
  rules/system_settings/system_settings_gatekeeper_override_disallow.yaml
  rules/system_settings/system_settings_guest_account_disable.yaml
  rules/system_settings/system_settings_loginwindow_loginwindowtext_enable.yaml
  rules/system_settings/system_settings_software_update_app_update_enforce.yaml
  rules/system_settings/system_settings_software_update_download_enforce.yaml
  rules/system_settings/system_settings_software_update_enforce.yaml
  rules/system_settings/system_settings_softwareupdate_current.yaml
  rules/system_settings/system_settings_time_server_configure.yaml
  rules/system_settings/system_settings_time_server_enforce.yaml
  scripts/generate_guidance.py
Labels: none

fix: Update various files
  config/default/rules/icloud/icloud_appleid_prefpane_disable.yaml
  config/default/rules/inherent/.gitignore
  config/default/rules/not_applicable/.gitignore
  config/default/rules/os/os_camera_disable.yaml
  config/default/rules/os/os_guest_folder_removed.yaml
  config/default/rules/os/os_hibernate_mode_intel_enable.yaml
  config/default/rules/os/os_power_nap_enable.yaml
  config/default/rules/os/os_software_update_deferral.yaml
  config/default/rules/os/os_time_offset_limit_configure.yaml
  config/default/rules/permanent/.gitignore
  config/default/rules/supplemental/.gitignore
  config/default/rules/system_settings/system_settings_location_services_menu_enforce.yaml
  config/includes/mscp-data.yaml
  src/mscp/classes/loguruformatter.py
  src/mscp/classes/macsecurityrule.py
  src/mscp/generate/baseline.py
Labels: area/rules, area/mscp_api

refactor: Consolidate author definitions and improve baseline generation logic
  config/includes/mscp-data.yaml
  src/mscp/__init__.py
  src/mscp/classes/__init__.py
  src/mscp/classes/baseline.py
  src/mscp/classes/filehandler.py
  src/mscp/common_utils/file_handling.py
  src/mscp/generate/baseline.py
Labels: area/mscp_api

fix: Fix import of Macsecurityrule
  src/mscp/classes/baseline.py
Labels: area/mscp_api

refactor: Update CHANGELOG to include mscp-data refactor for improved baseline generation
  CHANGELOG.adoc
Labels: none

docs: Add installation instructions for setting up the project environment
  install.md
Labels: none

refactor: Update .gitattributes to enhance language detection for various file types
  .gitattributes
Labels: none

fix: Update .gitignore to correctly ignore Python virtual environment directory
  .gitignore
Labels: none

chore: Remove CONTRIBUTING and VERSION files as part of repository cleanup
  CONTRIBUTING.adoc
  VERSION.yaml
Labels: none

fix: Correct formatting and punctuation in LICENSE.md for clarity and consistency
  LICENSE.md
Labels: none

Add initial new docs
  .github/workflows/build_documentation.yml
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.png
  docs/src/assets/houston.webp
  docs/src/assets/logo.png
  docs/src/assets/mscp_banner_outline.png
  docs/src/content.config.ts
  docs/src/content/docs/guides/getting-started.md
  docs/src/content/docs/guides/how-to/compliance-script.mdx
  docs/src/content/docs/guides/how-to/customization.md
  docs/src/content/docs/guides/how-to/exemptions.mdx
  docs/src/content/docs/guides/how-to/generate-SCAP.md
  docs/src/content/docs/guides/how-to/generate-baseline.mdx
  docs/src/content/docs/guides/how-to/generate-guidance.mdx
  docs/src/content/docs/guides/how-to/generate-mapping.md
  docs/src/content/docs/guides/how-to/generate-profiles.md
  docs/src/content/docs/guides/how-to/tailoring.mdx
  docs/src/content/docs/guides/introduction.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/Baselines.md
  docs/src/content/docs/reference/Includes.md
  docs/src/content/docs/reference/Layout.md
  docs/src/content/docs/reference/Rules.md
  docs/src/content/docs/reference/Scripts.md
  docs/src/content/docs/reference/Sections.md
  docs/src/content/docs/reference/more/Contributing.md
  docs/src/content/docs/reference/more/FAQ.md
  docs/src/content/docs/reference/more/Resources.md
  docs/src/content/docs/reference/more/Vendor-Attribution.md
  docs/src/styles/custom.css
  docs/tsconfig.json
Labels: area/github

Add consolidated changes
  docs/astro.config.mjs
  docs/pnpm-lock.yaml
  docs/public/boilerplate-footer.html
  docs/public/boilerplate-header.html
  docs/public/nist-combined.css
  docs/public/nist-header-footer.js
  docs/src/content/docs/guides/how-to/compliance-script.mdx
  docs/src/content/docs/guides/how-to/generate-declarative.md
  docs/src/content/docs/reference/more/Vendor-Attribution.md
  docs/src/styles/custom.css
Labels: none

Direct to NIST pages
  .github/workflows/build_documentation.yml
  docs/public/nist-header-footer.js
Labels: area/github

Add new docs (#486)
  .github/workflows/build_documentation.yml
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/boilerplate-footer.html
  docs/public/boilerplate-header.html
  docs/public/favicon.png
  docs/public/nist-combined.css
  docs/public/nist-header-footer.js
  docs/src/assets/houston.webp
  docs/src/assets/logo.png
  docs/src/assets/mscp_banner_outline.png
  docs/src/content.config.ts
  docs/src/content/docs/guides/getting-started.md
  docs/src/content/docs/guides/how-to/compliance-script.mdx
  docs/src/content/docs/guides/how-to/customization.md
  docs/src/content/docs/guides/how-to/exemptions.mdx
  docs/src/content/docs/guides/how-to/generate-SCAP.md
  docs/src/content/docs/guides/how-to/generate-baseline.mdx
  docs/src/content/docs/guides/how-to/generate-declarative.md
  docs/src/content/docs/guides/how-to/generate-guidance.mdx
  docs/src/content/docs/guides/how-to/generate-mapping.md
  docs/src/content/docs/guides/how-to/generate-profiles.md
  docs/src/content/docs/guides/how-to/tailoring.mdx
  docs/src/content/docs/guides/introduction.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/Baselines.md
  docs/src/content/docs/reference/Includes.md
  docs/src/content/docs/reference/Layout.md
  docs/src/content/docs/reference/Rules.md
  docs/src/content/docs/reference/Scripts.md
  docs/src/content/docs/reference/Sections.md
  docs/src/content/docs/reference/more/Contributing.md
  docs/src/content/docs/reference/more/FAQ.md
  docs/src/content/docs/reference/more/Resources.md
  docs/src/content/docs/reference/more/Vendor-Attribution.md
  docs/src/styles/custom.css
  docs/tsconfig.json
Labels: area/github

docs: 📝 redirect NIST header and footer
  docs/astro.config.mjs
Labels: none

deploy: 28d0c54f9933aecb0ea61304b6b6c801a7b5b813
  404.html
  guides/getting-started/index.html
  guides/how-to/compliance-script/index.html
  guides/how-to/customization/index.html
  guides/how-to/exemptions/index.html
  guides/how-to/generate-baseline/index.html
  guides/how-to/generate-declarative/index.html
  guides/how-to/generate-guidance/index.html
  guides/how-to/generate-mapping/index.html
  guides/how-to/generate-profiles/index.html
  guides/how-to/generate-scap/index.html
  guides/how-to/tailoring/index.html
  guides/introduction/index.html
  index.html
  reference/baselines/index.html
  reference/includes/index.html
  reference/layout/index.html
  reference/more/contributing/index.html
  reference/more/faq/index.html
  reference/more/resources/index.html
  reference/more/vendor-attribution/index.html
  reference/rules/index.html
  reference/scripts/index.html
  reference/sections/index.html
Labels: none

docs: 📝 reformat cli argument reference
  docs/src/content/docs/guides/how-to/compliance-script.mdx
Labels: none

deploy: c2e3b6d6c0ca7f863097fbc9b76e02cbf2cb0dcc
  guides/how-to/compliance-script/index.html
  pagefind/fragment/en_0e9588d.pf_fragment
  pagefind/fragment/en_eb8781d.pf_fragment
  pagefind/index/en_49c18e0.pf_index
  pagefind/index/en_d7369ae.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8c1ea5feec.pf_meta
  pagefind/pagefind.en_f69720ae76.pf_meta
Labels: none

refactor[rules] Modified CIS information
  rules/supplemental/supplemental_cis_manual.yaml
  rules/system_settings/system_settings_bluetooth_sharing_disable.yaml
  rules/system_settings/system_settings_content_caching_disable.yaml
  rules/system_settings/system_settings_internet_sharing_disable.yaml
  rules/system_settings/system_settings_media_sharing_disabled.yaml
  rules/system_settings/system_settings_printer_sharing_disable.yaml
  rules/system_settings/system_settings_rae_disable.yaml
  rules/system_settings/system_settings_remote_management_disable.yaml
  rules/system_settings/system_settings_screen_sharing_disable.yaml
  rules/system_settings/system_settings_siri_disable.yaml
  rules/system_settings/system_settings_siri_listen_disable.yaml
  rules/system_settings/system_settings_smbd_disable.yaml
  rules/system_settings/system_settings_ssh_disable.yaml
Labels: none

refactor[baselines] Updated CIS Benchmark files
  baselines/cis_lvl1.yaml
  baselines/cis_lvl2.yaml
Labels: none

fix & in discussion
  scripts/generate_scap.py
Labels: none

sync with sequoia
  scripts/generate_scap.py
Labels: none

sync with sequoia
  scripts/generate_scap.py
Labels: none

sync with sequoia
  scripts/generate_scap.py
Labels: none

sync with sequoia
  scripts/generate_scap.py
Labels: none

sync with sequoia
  scripts/generate_scap.py
Labels: none

sync with sequoia
  scripts/generate_scap.py
Labels: none

Updated VERSION.yaml
  VERSION.yaml
Labels: none

Updated VERSION.yaml
  VERSION.yaml
Labels: none

Updated VERSION.yaml
  VERSION.yaml
Labels: none
